body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5pt;
    font-size: 8pt;
    color: #fafafa;
}

h1 {
    text-transform: uppercase;
    font-size: 12pt
}

h2 {
    color: #cacaca;
    font-size: 10pt;
}

i { margin-right: 7px; }

a {
  color: #00B7FF;
}

svg {
    margin: 0;
    padding: 0;
}

section {
    padding: 15px 30px 15px 15px;
    border-bottom: 1px solid #333;

}

#controls {
    position: absolute;
    top: 0;
    left: 0;
    //width: 260px;
    height: 100%;
    padding: 5px;
    background: #222;
}

.sidebar-hidden {

}

.sidebar-hidden * {
    display: none;
}

.container { background: #fff; }

button {
	border: none;
	padding: 0.6em 1.2em;
	background: #c0392b;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}
