<!doctype html>
<html>
<head>
    <title>Toposerver</title>
    <link href="/nprogress.css" rel="stylesheet">
    <style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

        #toolbar {
            position: absolute;
            top: 30px;
            left: 30px;
        }
</style>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/nprogress.js"></script>
    <script src="/websocket_test.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("button").click(function() {
                getTRNData();
            });
        });
    </script>
</head>
<body>
    <div id="toolbar">
        <h1>TRN Project</h1>
        <button>Run Algorithm</button>
    </div>
    <svg></svg>
</body>
</html>
